@charset "UTF-8";

/* Versão para outras mídias */

@media screen and (min-width: 768px) and (max-width: 992px) {

    header .logo {
        width: 330px;
        padding: 30px 20px 5px 20px;
        margin: 30px 20px 5px 20px;
    }

    nav {
        text-align: right;
    }
    
    main .cartao-witch {
        width: 200px;
    }

    img.png{ 
        width: 175px;
    }

    main.pag {
        width: 400px;
        text-align: left;
     }

     h1.nome {
        text-align: left;
     }

     section.sobre {
        width: 500px; 
        padding: 10px
     }

     section > div.imagem > img {
        width: 200px;
     }
     
     div.imagem {
        position: relative;
     }

     div.imagem > img {
        position: absolute;
        top: 90%;
        left: 100%;

        transform: translate(48%, -60%);
    }

    div#formulario {
        width: 950px;
        display: block;
        margin: auto
    }

}

@media screen and (min-width: 992px) {

    header .logo {
        width: 330px;
        padding: 30px 20px 5px 20px;
        margin: 30px 20px 5px 20px;
    }

    nav {
        text-align: right;
    }
    
    main .cartao-witch {
        width: 200px;
    }

    img.png{ 
        width: 175px;
    }

    main.pag {
        width: 900px;
        text-align: left;
     }

     h1.nome {
        text-align: left;
     }
     
     section.sobre {
         padding: 10px
     }

     section > div.imagem > img {
        width: 200px;
     }

     div.imagem {
        position: relative;
     }

     div.imagem > img {
        position: absolute;
        top: 90%;
        left: 100%;

        transform: translate(40%, -32%);
    }

    section#login {
        width: 100px;
        display: inline-block;
        margin: auto;
    }
    
    div#imagem > img {
        width: 500px;
    }
}
