@charset "UTF-8";

/* Versão mobile first */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Magical Demo';
    src: url(../fonts/MagicalDemo.otf) format(opentype);
}

html, body {
    background-image: linear-gradient(to bottom, #B189D9, #148C8C, #82D9C9);
    color: #333333;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

header .logo {
    width: 330px;
    display: block;
    margin: auto;
    padding: 30px 20px 5px 20px;
}

header .logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

nav {
    text-align: center;
}

nav > a {
    font-family: 'Magical Demo', sans-serif;
    font-size: 2em;
    text-decoration: none;
    margin-right: 30px;
    color: #333333;
}

nav > a:hover {
    color: #8b1d37;
}

main .listagem-witch {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 50px;
    margin: 10px;
}

main .cartao-witch {
    background-color: #4aa7a76b;
    width: 175px;
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    gap: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-witch:hover {
    background-image: linear-gradient(to bottom, #82D9C9, #148C8C, #cdacee);
    cursor: pointer;
    color: #6b162ac5;
}

.tipos {
    color: #333333;
}

.informacoes {
    font-family: 'Magical Demo', sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
}

img.png{ 
    width: 150px;
}

main.pag {
   width: 100%; 
   text-align: justify;
}

main.log {
    position: relative;
    height: 900px;
    width: 100vw;
}

section#login { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: -170px;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

section#login > div#imagem {
    background-image: url(../images/all.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: auto;
}

h1.nome {
    font-family: 'Magical Demo', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    padding-top: 25px;
}

section.sobre {
    padding: 10px
}

section > div.imagem > img {
    width: 148px;
    display: block;
    margin: auto;
}

p {
    font-size: 20px;
    text-indent: 50px;
}

p.descricao {
    font-size: 14px;
    color: #333333;
}

ul {
    list-style: none;
} 

ul > a {
    text-decoration: none;
    color: #333333;
}

div.imagem > img{
    width: 900px;
}

div#imagem > img {
    width: 400px;
    display: block;
    margin: auto;
}

div#formulario {
    width: 90%;
    text-align: center;
}

div#formulario > h1 {
    font-family: 'Magical Demo';
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    margin-bottom: 15px;
}

form > div.campo {
    background-color: #cdacee;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    text-align: center;
    font-size: 1em;
    width: 50%;
    height: 30px;
    background-color: #148C8C;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

form > input[type=submit]:hover {
    background-color: #82D9C9;
    cursor: pointer;
}















